@tailwind base;
@tailwind components;
@tailwind utilities;

.font-mont { font-family: 'Montserrat Alternates', 'Arial'; }
.text-shadow { text-shadow: -1px -1px 1px #234; }
.text-flip { transform: scale(-1, 1) rotate(-90deg); }

.bg-image-chip {
  background-image: url('./images/chipmunks.jpg');
  background-size: cover;
  background-position: center;
}

.bg-image-field {
  background-image: url('./images/field.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 5px #000;
}

.bg-image-mountain {
  background-image: url('./images/mountain.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 5px #000;
}

.bg-image-ruin {
  background-image: url('./images/ruin.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 5px #000;
}

.bg-image-animal {
  background-image: url('./images/deer.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 5px #000;
}
