@tailwind base;
@tailwind components;
@tailwind utilities;

.container-bg {
  background: radial-gradient(transparent, #666);
  box-shadow: 0 0 18px 3px #333;
}
.container-bg-dark {
  background: radial-gradient(rgba(50, 50, 50, 0.5), rgba(70, 70, 70, 0.75), rgba(90, 90, 90, 0.95));
  box-shadow: 0 0 18px 3px #333;
}


.bg-image-chip {
  background-image: url('./images/chipmunks.jpg');
  background-size: cover;
  background-position: center;
}
.bg-image-mountain {
  background-image: url('./images/nav/mountain.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 5px #000;
}
.bg-image-ruin {
  background-image: url('./images/nav/ruin.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 5px #000;
}
.bg-image-animal {
  background-image: url('./images/nav/deer.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 5px #000;
}
.bg-image-field {
  background-image: url('./images/nav/field.jpg');
  background-size: 100px 100px;
  background-position: 0px 0px;
  box-shadow: 0px 0px 5px #000;
}

.swiper-nav-color {
  color: #0f0;
}

.font-mont { font-family: 'Montserrat Alternates', 'Arial'; }
.text-shadow { text-shadow: -1px 0px 0px #567; }

.nav-resize:hover { width: 7rem; }
.nav-resize:hover > .nav-image { filter: blur(0.75px) drop-shadow(0 0 2px #222); }
.clip-it {
  -webkit-clip-path: polygon(50% 0%, 100% 0%, 0% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 0%, 0% 100%, 0% 50%);
}
.fadeError { animation: fade 1s linear 4s 1 forwards; }

@keyframes fade {
  from { opacity: 100; }
  to   { opacity: 0;   }
}
@media (max-width: 640px) {
  .clip-it { -webkit-clip-path: none; clip-path: none; }
  .bg-image-field { background-size: cover; background-position: right; }
}
